<form
  class="container row row-cols-1 row-cols-lg-2 gy-3 align-items-start animate-slide-to-right"
  [formGroup]="personForm"
  (submit)="onSubmit($event)"
>
  <div class="fields-container p-2 d-grid gap-3">
    <div class="input-wrapper">
      <label class="form-label">Nome *</label>
      <input type="text" class="form-control" formControlName="name" />
      <p *ngIf="showErrorMessage('name')" class="input-error mt-1">
        {{ getInputErrorMessage("name") }}
      </p>
    </div>
    <div class="input-wrapper">
      <label class="form-label">CEP *</label>
      <input type="text" class="form-control" formControlName="postalCode" (blur)="consultPostalCode()" />
      <p *ngIf="showErrorMessage('postalCode')" class="input-error mt-1">
        {{ getInputErrorMessage("postalCode") }}
      </p>
    </div>
    <div class="input-wrapper">
      <label class="form-label">UF *</label>
      <select
        class="form-select"
        formControlName="state"
        [attr.disabled]="personForm.disabled ? true : null"
      >
        <option selected disabled value="">Choose...</option>
        <option *ngFor="let state of statesOptions">{{ state }}</option>
      </select>
      <p *ngIf="showErrorMessage('state')" class="input-error mt-1">
        {{ getInputErrorMessage("state") }}
      </p>
    </div>
    <div class="input-wrapper">
      <label class="form-label">Cidade *</label>
      <input type="text" class="form-control" formControlName="city" />
      <p *ngIf="showErrorMessage('city')" class="input-error mt-1">
        {{ getInputErrorMessage("city") }}
      </p>
    </div>
    <div class="input-wrapper">
      <label class="form-label">Logradouro *</label>
      <input type="text" class="form-control" formControlName="street" />
      <p *ngIf="showErrorMessage('street')" class="input-error mt-1">
        {{ getInputErrorMessage("street") }}
      </p>
    </div>
  </div>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Contato</th>
          <th scope="col">Tipo</th>
          <th
            *ngIf="!personForm.disabled"
            class="animate-grow-horizontally"
          ></th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let contact of contacts">
          <td>{{ contact.id }}</td>
          <td>{{ contact.contactValue }}</td>
          <td>{{ contact.contactType }}</td>
          <td
            *ngIf="!personForm.disabled"
            class="options d-flex gap-2 justify-content-end animate-grow-horizontally"
          >
            <button
              type="button"
              class="btn-outline"
              (click)="editContact(contact)"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn-outline"
              (click)="deleteContact(contact.id)"
            >
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!personForm.disabled" class="animate-grow-vertically">
        <tr>
          <td colspan="4">
            <button type="button" class="btn-add" (click)="modal.openModal()">
              <i class="fa-solid fa-plus"></i>
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="options d-flex justify-content-start gap-2">
    <button
      *ngIf="personForm.disabled"
      type="button"
      class="btn-outline"
      (click)="startEditing()"
    >
      Editar
    </button>
    <button
      *ngIf="!personForm.disabled"
      type="submit"
      class="btn-outline"
      [disabled]="!personForm.valid"
    >
      Salvar
    </button>
    <button
      *ngIf="!personForm.disabled && getIdInRoute()"
      type="button"
      class="btn-outline"
      (click)="finishEditing()"
    >
      Cancelar
    </button>
    <a
      *ngIf="personForm.disabled || !getIdInRoute()"
      class="btn-outline"
      routerLink="/"
      >Voltar</a
    >
  </div>
</form>
<app-contact-modal
  [contactList]="contacts"
  (updateList)="updateContactList($event)"
/>
