@import "/src/variables.scss";

.fields-container {
  background-color: #fff;
  border-radius: 8px;
}

.table-container {
  max-height: 70vh;
  overflow: auto;

  tfoot {
    background-color: black;
  }

  .btn-add {
    width: max-content;
    height: auto;
    padding: 8px 16px;
    border-radius: 8px;

    transition: opacity 0.3s linear;
    &:hover {
      opacity: 0.8;
    }
  }
}
