$light-gray: #f2f0f2; /* Tom claro, quase branco */
$deep-purple: #400d29; /* Roxo bem escuro */
$hot-pink: #f20c78; /* Rosa vibrante */
$dark-magenta: #730237; /* Magenta escuro */
$neon-pink: #f20c60; /* Rosa neon */
$font: "Roboto", serif;
